<footer>
        <div class="footer-wrap">
            <div class="row">
                <div class="medium-9 small-6 columns">
                    <p>Brought to you by the fine folks at the <a href="http://www.skokielibrary.info">Skokie Public Library.</a></p>
                </div>
                <!--<div class="medium-3 small-6 columns">
                    <h2>Featured video</h2>
                    <p><a href="http://youtu.be/ZTCqx1ToFMo">Eating Habits Revolt and iPhone 5 Commercial by Alex Ballmer </a></p>
                </div>-->
            </div>
        </div>
    </footer>
