<div class="hero">
      <!--  <video autoplay="true" height="100%" muted="true" loop="loop">
            <source src="video/eating-habits-short-web.mp4" type="video/mp4">
            <source src="video/eating-habits-short-web.webm" type="video/webm">
            <img src="img/eating-habits.jpg">
            You need an HTML5 enabled browser to view this video.
        </video>-->
        <div class="deadline">
            <p>We've got some bad news &hellip;</p>
            <p><small>This year's Skokie in Motion is canceled. But you can check out the submissions we received.</small></p>
            <a href="{{ site.baseurl }}/see-the-competition" class="button button-hero button-yellow">Watch them now</a>
        </div>
    </div>
