<div class="hero">
        <video autoplay="true" height="100%" muted="true" loop="loop">
            <source src="video/eating-habits-short-web.mp4" type="video/mp4">
            <source src="video/eating-habits-short-web.webm" type="video/webm">
            <img src="img/eating-habits.jpg">
            You need an HTML5 enabled browser to view this video.
        </video>
        <div class="deadline">
            <p>Submissions due by <span class="deadline-date">Monday, November 3</span></p>
            <a href="{{ baseurl }}/docs/2014-Skokie-in-Motion-application.pdf" class="button button-hero button-yellow">Enter now</a>
        </div>
    </div><!--end for row-->
