<nav class="site-nav">
        <div class="row">
            <div class="large-12 columns">
            <ul>
                <!--<li><a href="{{ site.baseurl }}/docs/2014-Skokie-in-Motion-application.pdf">Enter your work</a></li>-->
                <li><a href="{{ site.baseurl }}/submissions">See the submissions</a></li>
                <li><a href="{{ site.baseurl }}/previous-years">View previous years</a></li>
                <li><a href="mailto:{{ site.contacts }}?subject=Skokie%20in%20Motion">Get in touch</a></li>
            </ul>
            </div>
        </div>
    </nav>
