<nav class="site-nav">
        <div class="row">
            <div class="large-12 columns">
            <ul>
                <li><a href="{{ site.baseurl }}/enter-your-work">Enter your work</a></li>
                <li><a href="{{ site.baseurl }}/see-the-competition">See the competition</a></li>
                <li><a href="{{ site.baseurl }}/view-previous-years">View previous years</a></li>
                <li><a href="{{ site.baseurl }}/get-in-touch">Get in touch</a></li>
            </ul>
            </div>
        </div>
    </nav>