<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title != "Home" %}{{ page.title}} | {% endif %}{{ site.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
</head>
<body>
    {% include header.html %}
    <!--content-->
    {{ content }}
    <!--footer-->
    {% include footer.html %}
    <!--scripts-->
    {% include scripts.html %}
</body>
</html>
