---
layout: base
---
<section class="content">
    <div class="row">
        <div class="medium-9 columns">
            <article class="post">
                <header class="post-header">
                    <h1>{{ page.title }}</h1>
                </header>
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
        </div>
        <div class="medium-3 columns">
            <div class="side-nav">
                <h3>SIX STEPS FOR SKOKIE IN MOTION SUCCESS</h3>
                <ul class="six-steps">
                    <li><a href="{{ site.baseurl }}/posts/step-1-whats-your-big-idea">Step 1: What's your big idea?</a></li>
                    <li><a href="{{ site.baseurl }}/posts/step-2-scripts-scouting-shot-lists">Step 2: Scripts, scouting, & shot lists</a></li>
                    <li><a href="{{ site.baseurl }}/posts/step-3-roll-camera">Step 3: Roll camera!</a></li>
                    <li><a href="{{ site.baseurl }}/posts/step-4-make-rough-edit">Step 4: Make a rough edit</a></li>
                    <li><a href="{{ site.baseurl }}/posts/step-5-fine-tuning-with-titles-transitions-music">Step 5: Fine-tuning With titles, transitions, and music</a></li>
                    <li><a href="{{ site.baseurl }}/posts/step-6-export-submit">Step 6: Export & submit</a></li>
                </ul>
            </div>
        </div>
    </div><!--end of row-->
</section>